<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Project View</h1>
  </div>
 <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-file-text-o fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
         <div class="row"> 
           <div class="col-xs-12">
             <div class="medi">
               {{project.project.pid}} : {{project.project.name}} 
             </div>
             <div>
               <strong> ผู้รับผิดชอบ  </strong>{{project.project.owner}}
                 | <strong> สถานะโครงการ </strong> {{project.project.status}}
             </div>
           </div>
         </div> 
         <div class="row"> 
           <div class="col-xs-9 text-right">
           </div>
           <div class="col-xs-3 text-right" ng-show="project.project.status=='ยังไม่ได้ดำเนินการ'">

             <div class="progress progress-striped active" >
               <div class="progress-bar progress-bar-danger"
                 role="progressbar"
                 aria-valuenow="10"
                 aria-valuemin="0"
                 aria-valuemax="100" style="width: 10%">
                 <span class="sr-only">0% Complete</span>
               </div>
             </div>

           </div>

           <div class="col-xs-3 text-right" ng-show="project.project.status=='ดำเนินการแล้ว'">
           
             <div class="progress progress-striped active" >
               <div class="progress-bar progress-bar-success" 
                 role="progressbar" 
                 aria-valuenow="100" 
                 aria-valuemin="0" 
                 aria-valuemax="100" style="width: 100%">
                 <span class="sr-only">100% Complete</span>
               </div>
             </div>

           </div>
           <div class="col-xs-3 text-right" ng-show="project.project.status=='กำลังดำเนินการ'">

             <div class="progress progress-striped active" >
               <div class="progress-bar progress-bar-warning"
                 role="progressbar"
                 aria-valuenow="50"
                 aria-valuemin="0"
                 aria-valuemax="100" style="width: 50%">
                 <span class="sr-only">50% Complete</span>
               </div>
             </div>
           </div>
           <div class="col-xs-3 text-right" ng-show="project.project.status=='ยกเลิก'">

             <div class="progress progress-striped active" >
               <div class="progress-bar progress-bar-info"
                 role="progressbar"
                 aria-valuenow="50"
                 aria-valuemin="0"
                 aria-valuemax="100" style="width: 50%">
                 <span class="sr-only">50% Complete</span>
               </div>
             </div>
           </div>


         </div>

          <div>
             <strong>เอกสารขออนุมัติ </strong>
           <a href="{{project.project.permitdocument}}"
              target="_blank">
              <span class="glyphicon glyphicon-download"></span>
           </a>
          </div>
          <div>
          <a class="alert-link" 
              href="http://www.db.grad.nu.ac.th/django/officers/projectassessment/" target="_blank">
              <button type="button"class="btn btn-info btn-circle">
                <i class="fa fa-upload"></i>
              </button>
            </a>

           <a class="alert-link" href="" ng-click="reportclick()" type="button" class="btn">
              <button type="button" class="btn btn-success btn-circle">
                <i class="fa fa-print"></i>
              </button>
            </a>

            <a class="alert-link" href="#/project/finance/edit/{{project.project._id}}/{{project.project.financeid}}">
              <button type="button" class="btn btn-warning btn-circle">
                <i class="fa fa-pencil"></i>
              </button>
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br>

<div class="panel panel-info">
  <div class="panel-heading">
    รายละเอียดโครงการ/กิจกรรม
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9 text-right">
            <div class="row">
              <div class="col-md-3 text-right">
                <strong> โครงการ </strong>
              </div>
              <div class="col-md-9 text-left">
                {{project.project.pid}} :  {{project.project.name}}
              </div>
            </div>
          </div>
          <div class="col-md-3 text-right">
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-------->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9 text-right">
            <div class="row">
              <div class="col-md-3 text-right">
                <strong> หน่วยงานที่รับผิดชอบ </strong>
              </div>
              <div class="col-md-9 text-left">
                {{project.project.owner}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <strong>  ผู้รับผิดชอบ </strong>
              </div>
              <div class="col-md-9 text-left">
                {{project.project.head}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <strong> ผุ้ประสานงาน </strong>
              </div>
              <div class="col-md-9 text-left">
                {{project.project.coordinator}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <strong> ผู้รายงาน  </strong>
              </div>
              <div class="col-md-9 text-left">
                <a href="" ng-click="trackclick()" type="button" class="btn">{{project.project.reportor}}</a> </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <strong>วัตถุประสงค์  </strong>
              </div>
              <div class="col-md-9 text-left">
                {{project.project.objectiveinfo}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>เป้าหมายของโครงการ  </strong>
              </div>
              <div class="col-md-9 text-left">
                 {{project.project.targetinfo}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-right">
                <strong>งบประมาณโครงการ  </strong>
              </div>
              <div class="col-md-9 text-left">
               งบประมาณรายได้ = {{project[0].money.total_start+project[0].money.total_receive| currency :""}} บาท
              </div>
            </div>
          </div>
          <div class="col-md-3 text-right">
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-money fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div>{{project[0].money.total_expend| currency :""}} บาท
                    </div>
                    <div class="medi">
                     {{project.project.money_percent}} 
                         <p class="text-danger" 
                           ng-hide="project[0].money.total_expend==0">
                           {{((project[0].money.total_expend*100)/(project[0].money.total_start++project[0].money.total_receive)) | number:2}}%
                         </p>
                         <p class="text-primary" 
                           ng-hide="project[0].money.total_expend!=0">
                           {{((project[0].money.total_expend*100)/(project[0].money.total_start+project[0].money.total_receive)) | number:2}}%
                         </p>
                    <!--<div class="huge">12</div>-->
                    </div>
                    <div>งบประมาณที่ใช้</div>
                  </div>
                </div>
              </div>
              <a href="http://www.db.grad.nu.ac.th/django/finance/financing/{{project.project.financeid}}/detial/" target="_blank">
                   <div class="panel-footer">
                     <span class="pull-left">View Details</span>
                     <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                     <div class="clearfix"></div>
                   </div>
               </a>

              <a href="#">
                <div class="panel-footer">
                  <span class="pull-left"></span>
                  <span class="pull-right"></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9 text-right">
            <div class="row">
              <div class="col-md-3 text-right">
                <strong>วัน เวลาดำเนินการ  </strong>
              </div>
              <div class="col-md-9 text-left">
                {{project.project.date_plan}} 
                  <span  ng-show="project.project.end_date_plan">
                      - {{project.project.end_date_plan}}</span>
                  </div>
            </div>
          </div>
          <div class="col-md-3 text-right">

          </div>
        </div>
       </div>
    </div>
<br>
    <div class="row">
      <div class="col-md-12">
       <table class="table table-condensed table-bordered" >
          <tr>
              <th >ชื่อโครงการ/กิจกรรมย่อย</th>
              <th >วันที่ขออนุมัติ</th>
              <th >วันที่จัด</th>
              <th>สถานะ</th>
          </tr>
          <tr ng-repeat="message in p_list" >
            <td><a href="#/project/sub/{{message.project_id}}" >{{message.subname}}</a>

          <a href="" ng-click="remove_message(message._id)"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </td>
            <td>{{message.date_approval}}</td>
            <td>{{message.date_manage}}</td>
            <td>{{message.substatus}}</td>
          </tr>
        </table>

      </div>
    </div>

  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
   ตัวชี้วัดความสำเร็จของโครงการ (KPI) 
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="dataTable_wrapper">
      <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
          <tr>
            <th>ปริมาณ</th>
            <th>คุณภาพ</th>
            <th>เวลา</th>
            <th>ต้นทุน</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX">
            <td class="col-md-3">{{project.project.kpiquantity}}</td>
            <td class="col-md-3">{{project.project.kpiquality}}</td>
            <td></td>
            <td class="center"></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
  การติดตามและประเมินผลโครงการ
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 text-right">
           <strong> เป้าหมาย/ผู้เข้าร่วมจริง(คน) </strong> 
          </div>
          <div class="col-md-9 text-left">
            {{project.project.partytarget}}/{{project.project.party}} (คน)
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
            <strong>จำนวนผู้ตอบแบบสอบถาม(คน) </strong>
          </div>
          <div class="col-md-2 text-left">
            {{project.project.respon}}
          </div>
          <div class="col-md-3">
            <strong>ค่าเฉลี่ยของผู้ตอบแบบสอบถาม </strong> 
          </div>
          <div class="col-md-4 text-left">
{{((project.project.respon*100)/project.project.party|number:2).toString()}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
           <strong>ระดับความพึงพอใจ </strong> 
          </div>
          <div class="col-md-2 text-left">
            {{project.project.sd}}
          </div>
          <div class="col-md-3">
           <strong> ร้อยละค่าเฉลี่ย </strong> 
          </div>
          <div class="col-md-4 text-left">
            {{project.project.average}}
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
 ข้อมูลการประเมินสัมฤทธิ์ผลของโครงการ  
 <a href="{{project.project.Load}}" target="_blank" >
   <span class="glyphicon glyphicon-download"></span>
 </a>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="dataTable_wrapper">
      <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
          <tr>
            <th>วัตถุประสงค์</th>
            <th>เป้าหมาย</th>
            <th>ตัวชี้วัด</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX">
            <td class="col-md-1">{{project.project.object}}</td>
            <td class="col-md-1">{{project.project.goal}}</td>
            <td class="col-md-1">{{project.project.kpi}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">
         <strong> ประโยชน์ที่ได้รับจากโครงการ </strong>
      </div>
      <div class="col-md-9 text-left">
            {{project.project.advantage}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">
       <strong> อุปสรรค/ปัญหา(ถ้ามี)</strong> 
      </div>
      <div class="col-md-9 text-left">
            {{project.project.problem}}
      </div>
    </div>




  </div>
</div>

