<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
        <li ><a href="#projects/{{year}}">สรุปสถานภาพโครงการภาพรวม</a></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> สรุปการดำเนินงานในแผนปฏิบัติการ <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><a href="#/projects/{{year}}/status">จำแนกตามกองทุน</a></li>
            <li ><a href="#/projects/period/{{year}}">จำแนกตามเวลา</a></li>
            <li class="active"><a href="#/projects/budget/{{year}}">สรุปการใช้เงินของแต่ละกองทุน</a></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" ng-model="result.search"  id="projects_search"  class="form-control" placeholder="Search">
          </div>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">สรุปรายงานการใช้เงินของ <small>{{current_owner}} <a href="#/projects/budget/{{current_year}}" >ประจำปี {{current_year}} </a> </small></h1>
  </div>
   <!-- /.col-lg-12 -->
</div>
{{result}}
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <table class="table">
         <thead  ng-repeat="b in sum_budget" >
            <th class="col-xs-3">สรุปการใช้จ่ายเงินตามแผนปฏิบัติการประจำปี {{current_year}}</th>
            <th colspan="6">
              <div class="row">
                 <div class="col-xs-3"> </div>
                 <div class="col-xs-2">{{b.count.total_start+b.count.total_receive| currency :""}}</div>
                 <div class="col-xs-2">{{b.count.total_out| currency :""}} </div>
                 <div class="col-xs-2">
                   <p class="text-danger"
                     ng-hide="b.count.total_expend==0">
                       ({{b.count.total_expend-b.count.total_out| currency :""}})
                   </p>
                   <p class="text-primary"
                     ng-hide="b.count.total_expend!=0">
                        {{b.count.total_expend| currency :""}}
                   </p>
                 </div>
                 <div class="col-xs-2">
                     {{b.count.total_start+b.count.total_receive-b.count.total_expend| currency :""}}
                </div>
<div class="col-xs-1">
                   <p class="text-danger"
                     ng-hide="b.count.total_expend==0">
                     {{((b.count.total_expend*100)/(b.count.total_start+b.count.total_receive)) | number:2}}
                   </p>
                   <p class="text-primary"
                     ng-hide="b.count.total_expend!=0">
                     {{(((b.count.total_expend-b.count.total_out)*100)/(b.count.total_start+b.count.total_receive)) | number:2}}
                   </p>
                 </div>
              </div>
            </th>
           </thead>
        <tbody ng-repeat="p in budget" ng-show="p.fund=='A'||p.fund=='B'||p.fund=='C'||p.fund=='D'||p.fund=='E'">
         <div class="row sms">
          <tr class="success">
            <td >
              <span ng-show="p.fund=='A'">กองทุนทั่วไป</span>
              <span ng-show="p.fund=='B'">กองทุนกิจการนิสิต</span>
              <span ng-show="p.fund=='C'">กองทุนวิจัย</span>
              <span ng-show="p.fund=='D'">กองทุนทำนุบำรุงศิลปวัฒนธรรม</span>
              <span ng-show="p.fund=='E'">กองทุนบริการวิชาการ</span>
              <span ng-show="p.fund=='Z'">กองทุน</span>
            </td>
            <td colspan="6">
              <div class="row">
                 <div class="col-xs-3">หน่วยงาน</div>
                 <div class="col-xs-2">ได้รับ</div>
                 <div class="col-xs-2">โอนออก </div>
                 <div class="col-xs-2">ใช้ไป </div>
                 <div class="col-xs-2">คงเหลือ </div>
                 <div class="col-xs-1">% การใช้ไป </div>
              </div>
            </td>
           </tr>
           <tr ng-repeat="(key,value) in p.count.project" >
            <td >
            </td>
            <td colspan="6">
              <div class="row">
                 <div class="col-xs-3">
                   <b><a href="#/project/finance/info/{{value.pid}}/{{value.financeid}}">{{key}}</a></b>
                 </div>
                 <div class="col-xs-2">
                   {{value.total_start+value.total_receive| currency :""}}
                 </div>
                 <div class="col-xs-2">
                   {{value.total_out| currency :""}}
                 </div>
                 <div class="col-xs-2">
                   <p class="text-danger"
                     ng-hide="value.total_expend==0">
                       ({{value.total_expend-value.total_out| currency :""}})
                   </p>
                   <p class="text-primary"
                     ng-hide="value.total_expend!=0">
                        {{value.total_expend| currency :""}}
                   </p>
                 </div>
                 <div class="col-xs-2">
                   {{value.total_start+value.total_receive-value.total_expend| currency :""}}
                 </div>
                 <div class="col-xs-1">
                   <p class="text-danger"
                     ng-hide="value.total_expend==0">
                     {{((value.total_expend*100)/(value.total_start+value.total_receive)) | number:2}}
                   </p>
                   <p class="text-primary"
                     ng-hide="value.total_expend!=0">
                     {{(((value.total_expend-value.total_out)*100)/(value.total_start+value.total_receive)) | number:2}}
                   </p>
                 </div>
              </div>
            </td>
           </tr>
 <tr>
            <td>สรุปการใช้เงินของ
              <span ng-show="p.fund=='A'">กองทุนทั่วไป</span>
              <span ng-show="p.fund=='B'">กองทุนกิจการนิสิต</span>
              <span ng-show="p.fund=='C'">กองทุนวิจัย</span>
              <span ng-show="p.fund=='D'">กองทุนทำนุบำรุงศิลปวัฒนธรรม</span>
              <span ng-show="p.fund=='E'">กองทุนบริการวิชาการ</span>
              <span ng-show="p.fund=='Z'">กองทุน</span>
            </td>
            <td colspan="6">
              <div class="row">
                 <div class="col-xs-3"></div>
                 <div class="col-xs-2">{{p.count.total_start+p.count.total_receive| currency :""}}</div>
                 <div class="col-xs-2">{{p.count.total_out| currency :""}} </div>
                 <div class="col-xs-2">
                   <p class="text-danger"
                     ng-hide="p.count.total_expend==0">
                       ({{p.count.total_expend-p.count.total_out| currency :""}})
                   </p>
                   <p class="text-primary"
                     ng-hide="p.count.total_expend!=0">
                        {{p.count.total_expend| currency :""}}
                   </p>
                 </div>
                 <div class="col-xs-2">
                     {{p.count.total_start+p.count.total_receive-p.count.total_expend| currency :""}}
                 </div>
                 <div class="col-xs-1">
                   <p class="text-danger"
                     ng-hide="p.count.total_expend==0">
 {{((p.count.total_expend*100)/(p.count.total_start+p.count.total_receive)) | number:2}}
                   </p>
                   <p class="text-primary"
                     ng-hide="p.count.total_expend!=0">
                     {{(((p.count.total_expend-p.count.total_out)*100)/(p.count.total_start+p.count.total_receive)) | number:2}}
                   </p>
                 </div>
              </div>
            </td>
           </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

