     <!--<div ng-repeat="project in p_list|orderBy:'project.fund' ">
       <div ng-show="CreateHeader(project.project.fund)">
        <span ng-show="project.project.fund=='A'">กองทุนทั่วไป</span> 
        <span ng-show="project.project.fund=='B'">กองทุนกิจการนิสิต</span> 
        <span ng-show="project.project.fund=='C'">กองทุนวิจัย</span> 
        <span ng-show="project.project.fund=='D'">กองทุนทำนุบำรุงศิลปวัฒนธรรม</span> 
      </div>
        {{project.project.name}} 
     </div>
     -->
  <div class="col-lg-3 input-group">
    <span class="input-group-addon">@</span>
    <input type="text"
      class = "form-control" placeholder="สืบค้นโครงการ" ng-model="search">
  </div>
     <table class="table">
            <thead>
              <tr>
                <th>ลำดับที่</th>
                <th>ชื่อโครงการ</th>    
                <th>รายละเอียดโครงการ</th>    
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in project_list|filter:search">
  <!--
   <tr style="cursor:pointer"
              ng-class="{'warning':entry.cancel}"
              ng-repeat="entry in entry_list|filter:search|orderBy:predicate:reverse|orderBy:'paper_id':reverse" ng-click="show_entry(entry._id)">
-->
                <td></td>
                <td><a href="#/project/finance/info/{{project._id}}/{{project.financeid}}">{{project.name}}</a></td>
                <td>
                   <a href="http://www.db.grad.nu.ac.th/django/finance/financing/{{project.financeid}}/detial/">{{project.financeid}}</a></td>

              </tr>
            </tbody>
          </table>
