     <!--<div ng-repeat="project in p_list|orderBy:'project.fund' ">
       <div ng-show="CreateHeader(project.project.fund)">
        <span ng-show="project.project.fund=='A'">กองทุนทั่วไป</span> 
        <span ng-show="project.project.fund=='B'">กองทุนกิจการนิสิต</span> 
        <span ng-show="project.project.fund=='C'">กองทุนวิจัย</span> 
        <span ng-show="project.project.fund=='D'">กองทุนทำนุบำรุงศิลปวัฒนธรรม</span> 
      </div>
        {{project.project.name}} 
     </div>
     -->
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group my-group">
        <select class="form-control"
                id="sel" class="input-block-level"
                ng-model="list_category"
                ng-options="obj.name for obj in list_categories.data" 
                ng-change="updateYear()">
          <option value="">กรุณาเลือกปีงบประมาณ</option>
        </select>
        <input type="text" ng-model="p_list.search"  id="projects_search"  class="form-control" placeholder="Search">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <a href="#/project/new" target="_blank"  class="alert-link">
     <button type="button" class="btn btn-success btn-circle">
       <i class="fa fa-plus"></i>
     </button>
    </a>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->


<br>
     <table class="table" ng-show="list_category.name">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>ชื่อโครงการ</th>    
                <th>งบประมาณที่ได้รับ</th>    
                <th>งบประมาณที่ใช้ไป</th>    
                <th>คงเหลือ</th>    
                <th>รออนุมัติ่่</th>    
                <th>คงเหลือสุทธิ</th>    
              </tr>
            </thead>
             <tbody ng-repeat="project in p_list| filter:p_list.search |orderBy:'project.fund' ">
               <tr class="success" ng-show="CreateHeader(project.project.fund)">
                 <th  colspan="7"  
                   ng-show="project.project.fund=='A'">
                   กองทุนทั่วไป
                 </th> 
                 <th colspan = "7"  ng-show="project.project.fund=='B'">กองทุนกิจการนิสิต</span> 
                 <th colspan = "7"  ng-show="project.project.fund=='C'">กองทุนวิจัย</span> 
                 <th colspan = "7"  ng-show="project.project.fund=='D'">กองทุนทำนุบำรุงศิลปวัฒนธรรม</span> 
                 <th colspan = "7"  ng-show="project.project.fund=='E'">กองทุนบริการวิชาการ</span> 
              </tr>
              <tr ng-hide="project.project.found[0]!=null">
                
                <td>{{$index+1}}</td>
                <td>
                   <!--<a href="#/project/finance/info/{{project.project.id}}">{{project.project.name}}</a>
                   -->
                   {{project.project.name}} {{project.project.id}}
                   <span ng-hide="project.project.found[0]!=null">
                   <a href="#/project/finance/create/{{project.project.id}}">เพิ่ม</a>
                   </span>
                
                </td>
                <td>{{
                project.project.start_balance|currency:""}}</td>     
                <td >
                  <p class="text-danger" ng-hide="project.project.sum_expend==0">
                    ({{project.project.sum_expend|currency:""}})
                  </p>
                  <p class="text-primary" ng-hide="project.project.sum_expend!=0">
                    {{project.project.sum_expend|currency:""}}
                  </p>
                </td>     
                <td>{{
                project.project.start_balance-
                project.project.sum_expend|currency:""}}</td>     
                <td>{{project.project.sum_wait|currency:""}}</td>
                <td>{{project.project.start_balance-project.project.sum_wait-project.project.sum_expend|currency:""}}</td>
              </tr>
            </tbody>
          </table>
