 <p ng-repeat="project in project_list|filter:dateToday" ng-bind="project">
 </p>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    ระยะเวลาดำเนินโครงการ <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="divider"></li>
    <li><a ng-click="filterProject(0)">
       ติดตามความก้าวหน้าโครงการ</a></li>
    <li><a ng-click="filterProject(1)">
       ครึ่งปีแรก (ตุลาคม {{current_year-1}}- มีนาคม{{current_year}}</a></li>
    <li><a ng-click="filterProject(2)">
       ครึ่งปีหลัง (เมษายน {{current_year}}- กันยายน{{current_year}}</a></li>
  </ul>
</div>
<p></p>

<div class="panel panel-warning" ng-show="chk==0 || chk==''">
  <SELECT id="list">
    <OPTION VALUE="A"> สรุปสถานภาพโครงการประจำปี {{current_year}} 
    <OPTION VALUE="B"> สรุปสถานภาพโครงการครึ่งปีแรกประจำปี {{current_year}} 
    <OPTION VALUE="C"> สรุปสถานภาพโครงการที่ยังไม่ได้ดำเนินการประจำปี {{current_year}}
  </SELECT>
  <button id="change">Refresh Table</button>
    <div id="container1" 
      style="height: 400px; margin: 0 auto">
    </div>
    
    <!-- Data from www.netmarketshare.com. 
    Select Browsers => Desktop share by version. Download as tsv. -->

</div>

<div class="panel panel-warning"  ng-show="chk==0 || chk==''">
  <div class="panel-heading">โครงการที่ต้องเร่งรัด</div>
  <div class="panel-body"> </div>
      <table class="table">
          <tr >
            <td>งานที่รับผิดชอบ</td>
            <td>วันที่ดำเนินการตามแผน</td>
            <td>โครงการ/กิจกรรม</td>
          </tr>
          <tr class="info">
            <td colspan="3">ครึ่งปีแรก</td>
          </tr>
        <tbody
          ng-repeat="(key,value) in project_list_new.first.alertowner|orderBy:'-new_date_plan' " >
          <tr ng-show="value.list.length">
            <td>{{key}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-repeat="project in value.list" >
            <td></td>
            <td>{{project.date_plan}}-{{project.end_date_plan}}</td>
            <td>
            <a
              href="#/project/finance/info/{{project._id}}/{{project.financeid}}">{{project.name}}</a>
            </td>
          </tr>
        </tbody>
          <tr class="info">
            <td colspan="3">ครึ่งปีหลัง</td>
          </tr>
        <tbody
          ng-repeat="(key,value) in project_list_new.second.alertowner|orderBy:'-new_date_plan' " >
          <tr ng-show="value.list.length">
            <td>{{key}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-repeat="project in value.list" >
            <td></td>
            <td>{{project.date_plan}}-{{project.end_date_plan}}</td>
            <td>
            <a
              href="#/project/finance/info/{{project._id}}/{{project.financeid}}">{{project.name}}</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="panel panel-danger" ng-show="chk==0 || chk==''">
  <div class="panel-heading">โครงการที่ล่าช้าในครึ่งปีแรก</div>
  <div class="panel-body"> </div>
      <table class="table">
          <tr >
            <td>งานที่รับผิดชอบ</td>
            <td>วันที่ดำเนินการตามแผน</td>
            <td>โครงการ/กิจกรรม</td>
          </tr>
        <tbody 
          ng-repeat="(key,value) in project_list_new.first.lateowner|orderBy:'-new_date_plan' " >
          <tr ng-show="value.list.length">
            <td>{{key}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-repeat="project in value.list" >
            <td></td>
            <td>{{project.date_plan}}-{{project.end_date_plan}}</td> 
            <td>
            <a 
              href="#/project/finance/info/{{project._id}}/{{project.financeid}}">{{project.name}}</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
