<div class="row-fluid" ng-show="user">
  <div class="span12">
    <div class="input-prepend">
        <span class="add-on"><i class="icon-search"></i></span>
        <input type="text" placeholder="Search" ng-model="search">    
    </div>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li ><a href="#tab1" data-toggle="tab">งานวิชาการ</a></li>
        <li><a href="#tab2" data-toggle="tab">งานธุรการและการเงิน</a></li>
        <li><a href="#tab3" data-toggle="tab">งานแผนและสารสนเทศ</a></li>
        <li><a href="#tab4" data-toggle="tab">สำนักพิมพ์มหาวิทยาลัยนเรศวร</a></li>
        <li class="active"><a href="#tab5" data-toggle="tab">ทั้งหมด</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="tab1">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ชื่อโครงการ</th>    
                <th>วันเดือนปีที่จัด</th> 
                <th>งบประมาณที่ใช้</th>
                <th>จำนวนผู้เข้าร่วม</th>                                        
                <th>สถานภาพโครงการ</th>     
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in project_list |  filter:search " ng-hide="project.docID" ng-show="project.owner=='งานวิชาการ'">
                <!--<td><a href="#/project/edit/{{project._id}}" >{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-tasks"></i></a></td>-->   
                <td><a href="#/project/edit/{{project._id}}">{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-pencil"></i></a></td>     
                <td>{{project.date_manage| date:'MM/dd/yyyy'}}</td>     
                <td>{{project.money_use}}</td>    
                <td>{{project.party}}</td>    
                <td><small>{{project.status}}</small>
                  <div  class="progress progress-success" ng-show="project.status=='กำลังดำเนินการ'">
                    <span class="bar" style="width: 50%" ></span>
                  </div>
                  <div class="progress progress-danger" ng-show="project.status=='ดำเนินการแล้ว'">
                    <span class="bar" style="width: 100%" ></span>
                  </div>
                </td>    
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="tab2">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ชื่อโครงการ</th>    
                <th>วันเดือนปีที่จัด</th>
                <th>งบประมาณที่ใช้</th>
                <th>จำนวนผู้เข้าร่วม</th>                                        
                <th>สถานภาพโครงการ</th>        
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in project_list |  filter:search " ng-hide="project.docID" ng-show="project.owner=='งานธุรการและการเงิน'">
                <!--<td><a href="#/project/edit/{{project._id}}" >{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-tasks"></i></a></td>-->   
                <td><a href="#/project/edit/{{project._id}}">{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-pencil"></i></a></td>     
                <td>{{project.date_manage| date:'MM/dd/yyyy'}}</td>      
                <td>{{project.money_use}}</td>    
                <td>{{project.party}}</td>    
                <td><small>{{project.status}}</small>
                  <div  class="progress progress-success" ng-show="project.status=='กำลังดำเนินการ'">
                    <span class="bar" style="width: 50%" ></span>
                  </div>
                  <div class="progress progress-danger" ng-show="project.status=='ดำเนินการแล้ว'">
                    <span class="bar" style="width: 100%" ></span>
                  </div>
                </td>  
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="tab3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ชื่อโครงการ</th>    
                <th>วันเดือนปีที่จัด</th>
                <th>งบประมาณที่ใช้</th>
                <th>จำนวนผู้เข้าร่วม</th>                                        
                <th>สถานภาพโครงการ</th>         
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in project_list |  filter:search " ng-hide="project.docID" ng-show="project.owner=='งานแผนและสารสนเทศ'">
                <!--<td><a href="#/project/edit/{{project._id}}" >{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-tasks"></i></a></td>-->   
                <td><a href="#/project/edit/{{project._id}}">{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-pencil"></i></a></td>     
                <td>{{project.date_manage| date:'MM/dd/yyyy'}}</td>    
                <td>{{project.money_use}}</td>    
                <td>{{project.party}}</td>    
                <td><small>{{project.status}} </small>
                  <div  class="progress progress-success" ng-show="project.status=='กำลังดำเนินการ'">
                    <span class="bar" style="width: 50%" ></span>
                  </div>
                  <div class="progress progress-danger" ng-show="project.status=='ดำเนินการแล้ว'">
                    <span class="bar" style="width: 100%" ></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="5">{{total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="tab4">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ชื่อโครงการ</th>    
                <th>วันเดือนปีที่จัด</th>
                <th>งบประมาณที่ใช้</th>
                <th>จำนวนผู้เข้าร่วม</th>                                        
                <th>สถานภาพโครงการ</th>           
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in project_list |  filter:search " ng-hide="project.docID" ng-show="project.owner=='สำนักพิมพ์มหาวิทยาลัยนเรศวร'">
                <!--<td><a href="#/project/edit/{{project._id}}" >{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-tasks"></i></a></td>-->   
                <td><a href="#/project/edit/{{project._id}}">{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-pencil"></i></a></td>     
                <td>{{project.date_manage| date:'MM/dd/yyyy'}}</td>   
                <td>{{project.money_use}}</td>    
                <td>{{project.party}}</td>    
                <td><small>{{project.status}}</small>
                  <div  class="progress progress-success" ng-show="project.status=='กำลังดำเนินการ'">
                    <span class="bar" style="width: 50%" ></span>
                  </div>
                  <div class="progress progress-danger" ng-show="project.status=='ดำเนินการแล้ว'">
                    <span class="bar" style="width: 100%" ></span>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="tab-pane  active" id="tab5">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ชื่อโครงการ</th>    
                <th>วันเดือนปีที่จัด</th>
                <th>งบประมาณที่ใช้</th>
                <th>จำนวนผู้เข้าร่วม</th>                                        
                <th>สถานภาพโครงการ</th>        
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in project_list |  filter:search " ng-hide="project.docID">
                <!--<td><a href="#/project/edit/{{project._id}}" >{{project.name}}</a> <a href="#/project/task/{{project._id}}" ><i class="icon-tasks"></i></a></td>-->   
                <td>
                  <a href="#/project/edit/{{project._id}}">{{project.name}}</a> 
                  <a href="#/project/task/{{project._id}}" ><i class="icon-pencil"></i></a>
                </td>     
                <td>{{project.date_manage| date:'MM/dd/yyyy'}}</td>    
                <td>{{project.money_use}}</td>    
                <td>{{project.party}}</td>    
                <td><small>{{project.status}}</small>
                  <div  class="progress progress-success" ng-show="project.status=='กำลังดำเนินการ'">
                    <span class="bar" style="width: 50%" ></span>
                  </div>
                  <div class="progress progress-danger" ng-show="project.status=='ดำเนินการแล้ว'">
                    <span class="bar" style="width: 100%" ></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="5">รวมทั้งสิ้น <b> {{project_list.length}}</b> โครงการ</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>  


