
<div class="row-fluid" >
  <div class="span12">
     <p class="lead">Project</p>
      <div class="form-actions">
        <div class="input-append">
          <span class="pull-left">
            <a href="" class="btn btn-danger " ng-click="del()">
              <i class="icon-remove icon-white"></i> 
              Delete Project
            </a>  
        </span>
      </div>
    </div>
  </div>
</div>


<!--Edir Schema-->
<div class="row-fluid" >
  <div class="span6">        
    <table class="table table-hover table-condensed">
      <tr ng-repeat="(field,value) in project" ng-click="editField(field)">
        <td><strong>{{field}}</strong></td>
        <td >          
          <span ng-bind="project[field]"></span>
          <span class="pull-right">
            <button class="btn btn-mini" ng-click="editField(field)"><i class="icon-pencil"></i></button>            
          </span>
        </td>
      </tr>
    </table>      

  </div>
  
  <div class="span6">
    <div class="alert alert-block">
      <h4>Doucment</h4>
      {{project}}
    </div>
    
    
      <div class="row-fluid">
        <div class="span12" ng-show="selectField">                                  
              <div class="input-prepend input-append">
                 <span class="add-on" ng-bind="selectField"></span>
                <input type="text" ng-model="selectValue">
                <button type="submit" class="btn btn-primary" ng-click="update()">Update</button>
              </div>
        </div>    
      </div>
      
      <div class="alert alert-info" ng-show="messageAlert">      
        {{messageAlert}}
      </div>
    
  </div>
  
</div>

