 <button ng-click="exportData()" >Export</button>
<div class="row">
  <div class="col-lg-12" id="exportable"> 
  <table width="100%">
    <thead>
      <tr><th>แบบสอบถามการติดตามประเมินผลแผนปฏิบัติการประจำปี 2558 </th></tr>
      <tr><th>บัณฑิตวิทยาลัย มหาวิทยาลัยนเรศวร</th></tr>
    </thead>
    <tr><td><br><br></td></tr>
    <tr><td>โครงการ/กิจกรรม: {{project.project.name}}</td></tr>
    <tr><td><br></td></tr>
    <tr><td><strong>ตอนที่ 1 ข้อมูลทั่วไปของผู้ให้ข้อมูล</strong></td></tr>
    <tr><td>1.1 ชื่อ นามสกุล {{project.project.reportor}}</td></tr>
    <tr><td>1.2 สังกัด {{project.project.owner}}</td></tr>
    <tr><td><br></td></tr>
    <tr><td><strong>ตอนที่ 2 ข้อมูลการปฏิบัติงานตามแผนปฏิบัติการประจำปี</strong></td></tr>
    <tr><td>2.1  วัน เดือน ปี ที่จัดโครงการ/กิจกรรม {{project.project.date_manage}}</td></tr>
    <tr><td>2.2  จำนวนผู้เข้าร่วมโครงการ {{project.project.party}} คน</td></tr>
    <tr><td>2.3  สถานะของโครงการ {{project.project.status}}</td></tr>
    <tr><td><br></td></tr>
    <tr><td><strong>ตอนที่ 3 ข้อมูลการการประเมินผลสัมฤทธิ์ของโครงการ</strong></td></tr>
    <tr><td>3.1  วัตถุประสงค์ของโครงการ </td></tr>
    <tr><td><p>{{project.project.objectiveinfo}}</p></td></tr>
    <tr><td>3.2  วัตถุประสงค์ของโครงการ {{project.project.object}}</td></tr>
    <tr><td>3.3  เป้าหมายของโครงการ {{project.project.goal}}</td></tr>
    <tr><td>3.4  ตัวชี้วัดของโครงการ {{project.project.kpi}}</td></tr>
    <tr><td><br></td></tr>
    <tr><td><strong>ตอนที่ 4 ข้อมูลการใช้จ่ายเงินงบประมาณของโครงการตามแผนปฏิบัติการประจำปี</strong></td></tr>
    <tr><td>4.1  งบประมาณโครงการ {{project[0].money.total_start+project[0].money.total_receive| currency :""}} </td></tr>
    <tr><td>4.2  งบประมาณที่ใช้จริง  <span class="text-danger" ng-hide="project[0].money.total_expend==0">({{project[0].money.total_expend-project[0].money.total_out| currency :""}})</span>
    </td></tr>
    <tr><td>4.3  ยอดเงินคงเหลือจริง {{(project[0].money.total_receive-project[0].money.total_expend)+project[0].money.total_out| currency :""}}</td></tr>
    <tr><td>4.4  ร้อยละของงบประมาณที่ใช้ไป  
                         <span class="text-danger"
                           ng-hide="project[0].money.total_expend==0">
                           {{(((project[0].money.total_expend-project[0].money.total_out)*100)/(project[0].money.total_start+project[0].money.total_receive)) | number:2}}
                         </span>
                         <span class="text-primary"
                           ng-hide="project[0].money.total_expend!=0">
                           {{(((project[0].money.total_expend-project[0].money.total_out)*100)/(project[0].money.total_start+project[0].money.total_receive)) | number:2}}
                         </span>
</td></tr>
    <tr><td><br></td></tr>

  </table>
  </div>
</div>


<!--
<div class="row">

  <div class="col-lg-12"> 
    <legend>
      <img style="border: 0px" 
        src="img/icon_project.jpg" 
        alt="With Twitter">
        รายละเอียดโครงการ/กิจกรรม
    </legend> 
  </div>
</div>
<div class="row">
  <div class="col-lg-6"> 
    <div class="panel panel-success">
      <div class="panel-heading">
        <strong> 
            {{project.project.pid}} : {{project.project.name}} 
          <a href="#/project/finance/edit/{{project.project._id}}/{{project.project.financeid}}"><span class="glyphicon glyphicon-edit"></span> ปรับปรุงข้อมูล </a>
          <br> 
          | <a href="" ng-click="doTheBack()"> back </a>
          | <a href="#/projects/warning/{{project.project.year}}">ติดตาม:เร่งด่วน</a>
          | <a href="#/projects/{{project.project.year}}/status">ติดตาม:กองทุน</a>
          | <a href="http://www.db.grad.nu.ac.th/django/officers/projectassessment/" target="_blank">ผลประเมินความพึงพอใจ </a>
          | <a href="" ng-click="test()" type="button" class="btn">export</a> 

        </strong>
      </div>
        <div>
        <dl class="dl-horizontal">
          <dt>โครงการประจำปี :</dt><dd>{{project.project.year}}</dd>
          <dt>ประเภท: </dt><dd> {{project.project.ptype}} </dd>
          <dt>ระยะเวลาตามแผน:</dt><dd> {{project.project.date_plan}} 
            <span  ng-show="project.project.end_date_plan">
             - {{project.project.end_date_plan}}</span></dd>
        </dl>
        </div>
        <div>
        ข้อมูลการปฏิบัติงานตามแผนปฏิบัติการประจำปี       
        <dl class="dl-horizontal">
          <dt>วันที่ขออนุมัติ(หลัก): </dt><dd> {{project.project.date_approval}} 
              <span ng-show="project.project.permitdocument">
                <a href="{{project.project.permitdocument}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <span ng-hide="project.project.psub == 'กลุ่ม'">
          <dt>วันเดือนปีที่จัด:</dt><dd> {{project.project.date_manage}} 
            <span ng-show="project.project.end_date_manage">
             - {{project.project.end_date_manage}}</span></dd>
          <dt>วันเดือนปีที่รายงาน: </dt><dd> {{project.project.date_report}} 
          <dt>สถานที่: </dt><dd> {{project.project.place}} </dd>
          <dt>จำนวนผู้เข้าร่วม:</dt><dd> {{project.project.party}} </dd>
          <dt>จำนวนผู้ตอบ: </dt><dd>{{project.project.respon}}</dd>
          <dt>ค่าเฉลี่ย:</dt><dd> {{project.project.percent}}</dd>
          <dt>ระดับความพึงพอใจ:</dt><dd>{{project.project.sd}}</dd>
          <dt>โหลดข้อมูล:</dt>
            <dd>
              <span ng-show="project.project.Load">
                <a href="{{project.project.Load}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>ปัญหา/อุปสรรค(ถ้ามี):</dt><dd> {{project.project.problem}} </dd>
        </dl>
        </div>
        <div>
        ข้อมูลการประเมินสัมฤทธิ์ผลของโครงการ 
        <dl class="dl-horizontal">
          <dt>วัตถุประสงค์ </dt><dd> {{project.project.objectiveinfo}} </dd>
          <dt>วัตถุประสงค์ของโครงการ: </dt><dd>{{project.project.object}}</dd>
          <dt>เป้าหมาย </dt><dd> {{project.project.targetinfo}} </dd>
          <dt>เป้าหมายของโครงการ: </dt><dd>{{project.project.goal}}</dd>
          <dt>ตัวชี้วัดของโครงการ</dt><dd>{{project.project.kpi}}</dd>
          </span>
        </dl>
        </div>
        <div>
        ข้อมูลการใช้จ่ายเงินงบประมาณของโครงการตามแผนปฏิบัติการประจำปี 
        <dl class="dl-horizontal">
          <dt>งบประมาณที่ขอ: </dt><dd> {{project[0].money.total_start+project[0].money.total_receive| currency :""}} </dd>
          <dt>งบประมาณ(ที่ใช้):</dt><dd> {{project[0].money.total_expend| currency :""}} </dd>
          <dt>งบประมาณ(ที่รออนุมัติ):</dt><dd> {{project[0].money.total_wait| currency :""}} </dd>
          <dt>ร้อยละงบประมาณที่ใช้: </dt>
          <dd> {{project.project.money_percent}} 
                         <p class="text-danger" 
                           ng-hide="project[0].money.total_expend==0">
                           {{((project[0].money.total_expend*100)/(project[0].money.total_start++project[0].money.total_receive)) | number:2}}
                         </p>
                         <p class="text-primary" 
                           ng-hide="project[0].money.total_expend!=0">
                           {{((project[0].money.total_expend*100)/(project[0].money.total_start+project[0].money.total_receive)) | number:2}}
                         </p>
          </dd>
        </dl>
        </div>
      <div class="panel-footer">
        <strong>ผู้รับผิดชอบ : </strong> {{project.project.owner}} 
        <strong>สถานะโครงการ : </strong> {{project.project.status}} 
        <strong>mail : </strong> {{project.project.contactmail}}
        
      </div>
    </div>
  </div>
  <div class="col-lg-6"> 
    <div class="panel panel-warning">
      <div class="panel-heading">ผลดำเนินงาน</div>
      <table  ng-show="message_list.length>0" 
        class="table table-hover table-striped">
        <tr>
          <th >วันที่</th>
          <th >ผลการดำเนินงาน</th>
          <th >ผู้รายงาน</th>
          <th ng-show="user_logon"></th>
        </tr>
        <tr ng-repeat="message in message_list">
        <tr style="cursor:pointer" 
          ng-class="{'warning':entry.cancel}"
          ng-repeat="message in message_list|orderBy:'-date_record'" >
          <td>{{message.date_record}}</td>
          <td>{{message.task_name}}</td>
          <td>{{message.owner.profile.displayName}}</td>
          <td ng-show="user_logon"> 
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row" ng-show="p && project.project.psub=='กลุ่ม'" >
  <div class="col-lg-6" > 
    <div class="panel panel-success" >
      <div class="panel-heading"></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ชื่อโครงการ/กิจกรรมย่อย:</dt><dd> {{p.subname}}</dd>
          <dt>วันเดือนปีที่ขออนุมัติ: </dt><dd> {{p.date_approval}} 
              <span ng-show="p.permitdocument">
                <a href="{{p.permitdocument}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วันเดือนปีที่จัด:</dt><dd> {{p.date_manage}} 
            <span ng-show="p.end_date_manage">
             - {{p.end_date_manage}}</span></dd>
          <dt>สถานที่: </dt><dd> {{p.place}} </dd>
          <dt>จำนวนผู้เข้าร่วม:</dt><dd> {{p.party}} </dd>
          <dt>จำนวนผู้ตอบ: </dt><dd>{{p.respon}}</dd>
          <dt>ค่าเฉลี่ย:</dt><dd> {{p.percent}}</dd>
          <dt>ระดับความพึงพอใจ:</dt><dd>{{p.sd}}</dd>
          <dt>โหลดข้อมูล:</dt>
            <dd>
              <span ng-show="p.Load">
                <a href="{{p.Load}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วัตถุประสงค์ของโครงการ: </dt><dd>{{p.object}}</dd>
          <dt>เป้าหมายของโครงการ: </dt><dd>{{p.goal}}</dd>
          <dt>ตัวชี้วัดของโครงการ</dt><dd>{{p.kpi}}</dd>
        </dl>
      </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row" ng-show="p1 && project.project.psub == 'กลุ่ม'">
  <div class="col-lg-6"> 
    <div class="panel panel-success" >
      <div class="panel-heading"></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ชื่อโครงการ/กิจกรรมย่อย:</dt><dd> {{p1.subname}}</dd>
          <dt>วันเดือนปีที่ขออนุมัติ: </dt><dd> {{p1.date_approval}} 
              <span ng-show="p1.permitdocument">
                <a href="{{p1.permitdocument}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วันเดือนปีที่จัด:</dt><dd> {{p1.date_manage}} 
            <span ng-show="p1.end_date_manage">
             - {{p1.end_date_manage}}</span></dd>
          <dt>สถานที่: </dt><dd> {{p1.place}} </dd>
          <dt>จำนวนผู้เข้าร่วม:</dt><dd> {{p1.party}} </dd>
	  <dt>จำนวนผู้ตอบ: </dt><dd>{{p1.respon}}</dd>
          <dt>ค่าเฉลี่ย:</dt><dd> {{p1.percent}}</dd>
          <dt>ระดับความพึงพอใจ:</dt><dd>{{p1.sd}}</dd>
          <dt>โหลดข้อมูล:</dt>
            <dd>
              <span ng-show="p1.Load">
                <a href="{{p1.Load}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วัตถุประสงค์ของโครงการ: </dt><dd>{{p1.object}}</dd>
          <dt>เป้าหมายของโครงการ: </dt><dd>{{p1.goal}}</dd>
          <dt>ตัวชี้วัดของโครงการ</dt><dd>{{p1.kpi}}</dd>
        </dl>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="p2 && project.project.psub == 'กลุ่ม'">
  <div class="col-lg-6"> 
    <div class="panel panel-success" >
      <div class="panel-heading"></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ชื่อโครงการ/กิจกรรมย่อย:</dt><dd> {{p2.subname}}</dd>
          <dt>วันเดือนปีที่ขออนุมัติ: </dt><dd> {{p2.date_approval}} 
              <span ng-show="p2.permitdocument">
                <a href="{{p2.permitdocument}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วันเดือนปีที่จัด:</dt><dd> {{p2.date_manage}} 
            <span ng-show="p2.end_date_manage">
             - {{p2.end_date_manage}}</span></dd>
          <dt>สถานที่: </dt><dd> {{p2.place}} </dd>
          <dt>จำนวนผู้เข้าร่วม:</dt><dd> {{p2.party}} </dd>
	  <dt>จำนวนผู้ตอบ: </dt><dd>{{p2.respon}}</dd>
          <dt>ค่าเฉลี่ย:</dt><dd> {{p2.percent}}</dd>
          <dt>ระดับความพึงพอใจ:</dt><dd>{{p2.sd}}</dd>
          <dt>โหลดข้อมูล:</dt>
            <dd>
              <span ng-show="p2.Load">
                <a href="{{p2.Load}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วัตถุประสงค์ของโครงการ: </dt><dd>{{p2.object}}</dd>
          <dt>เป้าหมายของโครงการ: </dt><dd>{{p2.goal}}</dd>
          <dt>ตัวชี้วัดของโครงการ</dt><dd>{{p2.kpi}}</dd>
        </dl>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="p3 && project.project.psub == 'กลุ่ม'">
  <div class="col-lg-6"> 
    <div class="panel panel-success" >
      <div class="panel-heading"></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ชื่อโครงการ/กิจกรรมย่อย:</dt><dd> {{p3.subname}}</dd>
          <dt>วันเดือนปีที่ขออนุมัติ: </dt><dd> {{p3.date_approval}} 
              <span ng-show="p3.permitdocument">
                <a href="{{p3.permitdocument}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วันเดือนปีที่จัด:</dt><dd> {{p3.date_manage}} 
            <span ng-show="p3.end_date_manage">
             - {{p3.end_date_manage}}</span></dd>
          <dt>สถานที่: </dt><dd> {{p3.place}} </dd>
          <dt>จำนวนผู้เข้าร่วม:</dt><dd> {{p3.party}} </dd>
	  <dt>จำนวนผู้ตอบ: </dt><dd>{{p3.respon}}</dd>
          <dt>ค่าเฉลี่ย:</dt><dd> {{p3.percent}}</dd>
          <dt>ระดับความพึงพอใจ:</dt><dd>{{p3.sd}}</dd>
          <dt>โหลดข้อมูล:</dt>
            <dd>
              <span ng-show="p3.Load">
                <a href="{{p3.Load}}" 
                  target="_blank"><span class="glyphicon glyphicon-download"></span></a>
              </span>
            </dd>
          <dt>วัตถุประสงค์ของโครงการ: </dt><dd>{{p3.object}}</dd>
          <dt>เป้าหมายของโครงการ: </dt><dd>{{p3.goal}}</dd>
          <dt>ตัวชี้วัดของโครงการ</dt><dd>{{p3.kpi}}</dd>
        </dl>
      </div>
      </div>
    </div>
  </div>
</div>
-->
