<div class="row-fluid" >
  <p class="lead">Messages</p>  
  <blockquote>
    <p><img style="border: 0px" src="img/icon_message1.jpg" alt="With Twitter">
      {{project.pid}} : {{project.name}} 
      <a href="#/projects/{{project.year}}"><i class="icon-th-list"></i></a>
      <a href=""  ng-click="createMessage()" ><i class="icon-plus"></i> </a>   
    </p>
    <small>ผู้รับผิดชอบ {{project.owner}} </small>
    <small>สถานะโครงการ {{project.status}} </small>
  </blockquote>  
  <div class="span12">  
    <div class="row-fluid">
      <div class="span6" >
        <table class="table table-condensed table-bordered" ng-show="message">
          <tr>
              <th>วันที่</th>
              <th >ผลการดำเนินงาน</th>
              <th >ผู้รายงาน</th>
              <th ng-show="user.user"></th>
          </tr>
          <tr ng-repeat="message in message_list" ng-show="message.project_id==project._id">
            <td>{{message.date_record}}</td>
            <td>{{message.task_name}}</td>
            <td>{{message.owner}}</td>
            <td ng-show="user.user"> 
              <a href="" ng-click="editField(message._id)">
                <i class="icon-edit"></i>
              </a> 
              <a href="" ng-click="remove_message(message._id)">
                <i class="icon-remove"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div class="span6" ng-show="selectMessage">
        <div class="row-fluid">
          <div class="span12">
            <div class="tabbable"> 
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">ผลการดำเนินงาน</a></li>
                <li><a href="#tab2" data-toggle="tab">รายละเอียดโครงการ</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active"   id="tab1">
                  <fieldset>
                    <legend>เพิ่ม/แก้ไขผลการดำเนินงาน</legend>
                    
                    <label>วันที่: </label>
                    <div class="input-append" >
                      <input type="text" ng-model="message.date_record" 
                        data-date-format="dd/mm/yyyy" bs-datepicker>
                      <button type="button" class="btn" data-toggle="datepicker">
                        <i class="icon-calendar"></i>
                      </button>
                    </div>
                    
                    <label>ผลการดำเนินงาน: </label>
                    <div ng-model="message.task_name" mode="text"  codemirror="text">
                      <textarea></textarea>
                    </div>  
                    
                    <span class="pull-left ">  
                      <a href="" ng-click="messageSave()" class="btn btn-primary" 
                        ng-show="selectMessage"> <i class="icon-ok icon-white">
                        </i> Save 
                      </a>  
                      <a href="" class="btn" ng-click="createMessage()" >
                        <i class="icon-plus"></i> New Message
                      </a>      
                    </span>  
                  </fieldset> 
                </div>
                <div class="tab-pane"   id="tab2">
                  <div ng-include src="views.project_form"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>
</div>
    
