<br>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Recording Project Progress</h1>
  </div>
 <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-9">
    <div class="input-group">
        <div class="btn-group">
            <button type="button" class="btn btn-success">กรุณาเลือกโครงการ/กิจกรรม</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="caret"></span>
               <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="select_project(project)" 
                  ng-repeat="project in project_list" class="list-group-item"
                  ng-class="{'active':project==current_project}">
                  <p class="list-group-item-text">{{project.name}}</p>
                  </a>
              </li>
            </ul>
         </div>
    </div>
  </div>
  <div class="col-lg-3">
   <small> ** ระบบจะแสดงเฉพาะโครงการ/กิจกรรมที่อยู่ระหว่างดำเนินการ</small>
  </div>
</div>

<div class="row">
 &nbsp;
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-success">
      <div class="row">
             <div class="col-xs-3">
               <i class="fa fa-tasks fa-5x"></i> 
               </div>
               <div class="col-xs-9 text-right">
                 <div class="medi">
                   {{project.pid}}: {{current_project.name}} 
                 </div>
                 <div>
                   <strong>ผู้รับผิดชอบ : </strong> 
                   {{current_project.owner}} 
                   <strong>สถานะโครงการ : </strong> 
                   {{current_project.status}} 
              <a class="alert-link" href="#">
              แก้ไข</a>
                 </div>
                 <div>
                   <a class ="alert-link" href="#/project/finance/info/{{current_project._id}}/{{current_project.financeid}}">
                   <button type="button" 
                      class="btn btn-primary btn-circle">
                      <i class="fa fa-info-circle"></i>
                   </button>
                   </a>
                    <a class="alert-link" href="#/project/finance/edit/{{current_project._id}}/{{current_project.financeid}}">
                   <button type="button" 
                      class="btn btn-warning btn-circle">
                      <i class="fa fa-pencil"></i>
                   </button>
                   </a>
                 </div>
                </div>
             </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-6 col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
         <strong>รายงานผลการดำเนินงาน</strong>
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
      </div>
      <!-- /.panel-heading -->
     <div class="panel-body">
     </div>
      <div class="row">
        <div class="col-xs-12">
        <table  ng-show="message_list.length>0"
          class="table table-hover table-striped">
          <tr>
            <th >วันที่</th>
            <th >ผลการดำเนินงาน</th>
            <th >ผู้รายงาน</th>
            <th ></th>
          </tr>
          <tr ng-repeat="message in message_list">
          <tr style="cursor:pointer"
              ng-class="{'warning':entry.cancel}"
              ng-repeat="message in message_list|orderBy:'-date_record'"
              ng-click="select_message(message)">
            <td>{{message.date_record}}</td>
            <td>{{message.task_name}}</td>
            <td>{{message.owner}}</td>
            <td >
            </td>
          </tr>
        </table>
        </div>
      </div>
      </div>
  </div>
  <div class="col-lg-6 col-md-6" ng-show="current_message">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <strong>บันทึกผลการปฏิบัติงาน</strong>
          </div>
          <div class="col-xs-6 text-right">
            <a href="" ng-click="new_message()"
              ng-show="current_project">
              <span class="badge">
                สร้างกิจกรรม
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- /.panel-heading -->
     <div class="panel-body">
       <form role="form">
        <div class="form-group">
          <label>วันที่ดำเนินการ</label>
          <input type="text"
             ng-model="current_message.date_record"
             data-date-format="dd/mm/yyyy" bs-datepicker
             class="form-control" placeholder="คลิกเลือกวันที่ดำเนินงาน">
        </div>
        <div class="form-group">
          <label>ชนิดของงานที่ดำเนินการ</label>
          <select ng-model = "current_message.task_type"
              class = "form-control" >
              <option ng-repeat="tasktype in tasktype_list"
                ng-selected="current_message.task_type==tasktype.name">
                {{tasktype.name}}
              </option>
          </select>
          <!--<p class="help-block">Example block-level help text here.</p>
          -->
        </div>
        <div class="form-group">
          <label>วันที่ดำเนินการ</label>
          <div
              ng-model="current_message.task_name"
              model="text"  codemirror="text">
              <textarea class="form-control"></textarea>
          </div>
        </div>
    </form>
        <span class="pull-left ">
          <a href="" class="btn btn-success" ng-click="save_message()" >
            <i class="icon-plus"></i>บันทึกข้อมูล
          </a>
          <a href="" ng-click="remove_message()"
            class="btn btn-danger" >
            <i class="icon-remove"></i>ลบข้อมูล
          </a>
        </span>
     </div>
    </div>
  </div>
</div>



