<!DOCTYPE html>
<html lang="en" >
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>  
    <base href="{{ baseHref }}">
    <link rel="stylesheet" 
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <link href="javascript/vendor/bootstrap/css/bootstrap.css" 
      rel="stylesheet">    
<!-- Bootstrap theme -->
    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet">
    <link href="javascript/vendor/bootstrap/css/main.css" rel="stylesheet">    
    <link href="javascript/vendor/reusable_chart.css" rel="stylesheet">    
    <link href="javascript/vendor/bootstrap/css/docs.css" rel="stylesheet">    
    
   
    <link href="javascript/vendor/codemirror/codemirror.css" rel="stylesheet"> 
    <!--Core CSS - Include with every page -->
    <link href="javascript/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="javascript/vendor/bootstrap/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    
    <link href="javascript/vendor/bootstrap/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="javascript/vendor/bootstrap/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="javascript/vendor/bootstrap/css/sb-admin-2.css" rel="stylesheet">
    <link href="javascript/vendor/bootstrap-datepicker.css" rel="stylesheet">
    <link href="http://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" rel="stylesheet">
    <link href="http://jqwidgets.com/public/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet">
    <!--
    <link href="javascript/vendor/bootstrap/css/bootstrap-combined.min.css" rel="stylesheet">    
    -->

    <style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 40px;
      }
    </style>
    
    <script src="javascript/vendor/jquery-1.8.2.min.js"></script>
    <script src="javascript/vendor/bootstrap/js/bootstrap.js"></script> 
    <script src="javascript/vendor/codemirror/codemirror.js"></script> 
    <script src="javascript/vendor/codemirror/mode/javascript.js"></script> 
    <script src="javascript/vendor/angular.min.js"></script>
    <script src="javascript/vendor/angular-resource.min.js"></script>
    <script src="javascript/vendor/angular-codemirror.js"></script>
    <script src="javascript/vendor/bootstrap-datepicker.js"></script>
    <script src="javascript/vendor/angular-strap.min.js"></script>
    <!--
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    -->
    <script src="javascript/vendor/bootstrap/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="javascript/vendor/bootstrap/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <!--
    <script src="javascript/vendor/bootstrap/js/plugins/morris/morris.js"></script>
-->


    <!-- SB Admin Scripts - Include with every page -->
    <script src="javascript/vendor/bootstrap/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    
    <!--
    <script src="javascript/vendor/bootstrap/js/demo/dashboard-demo.js"></script>
   
-->
    <script src="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/globalization/globalize.js"></script>
    <script src="http://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>
    <script src="javascript/vendor/bootstrap/js/underscore-min.js"></script>
    <script src="javascript/vendor/highcharts.js"></script>
    <script src="javascript/vendor/exporting.js"></script>
    <script src="javascript/vendor/data.js"></script>
    <script src="javascript/vendor/drilldown.js"></script>
    <script src="javascript/vendor/highcharts-ng.js"></script>
    <!--<script src="javascript/vendor/highstock.js"></script>
    -->
    <script src="http://code.highcharts.com/stock/2.1.9/highstock.js"></script>

   <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
    <script src="javascript/mongorest_service.js"></script>
   <!-- <script src="javascript/app1.js"></script>
    -->
    <script src="javascript/app.js"></script>
    <script src="javascript/app2.js"></script>
    <script src="javascript/app_manage.js"></script>
    <script src="javascript/app_status.js"></script>
    <script src="javascript/chart.js"></script>
    
</head>
    
<body ng-app="projectplan">  
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top" 
      role="navigation" style="margin-bottom: 0" ng-controller="UserCtrl">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" 
          data-toggle="collapse" 
          data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><h3>GSTS-Projects</h3> <h6>: ระบบสารสารสนเทศเพื่อการติดตามและรายงานความก้าวหน้าผลการดำเนินโครงการตามแผนปฏิบัติการประจำปีของบัณฑิตวิทยาลัย มหาวิทยาลัยนเรศวร</h6></a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown" >
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li ng-show="user.user"><a href="#">
            <i class="fa fa-user fa-fw"></i>{{user.profile.displayName}}</a>
        </li>
        <li ng-repeat=" role in user.role ">  </li>
        <li ng-show="user.role[0].name=='admin'"><a href="#/role"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li ng-hide="user.user">
          <a href="auth/google">
          
            <img style="border: 0px" 
              src="img/icongoogle-1.gif" 
              alt="With Twitter"> Login with Google 
          </a>
         
        </li>
        <!--
        <li ng-hide="user.user">
          <a href="auth/google?openid_identifier=https://www.google.com/accounts/o8/id">

          <a href="auth/facebook">
        
            <img style="border: 0px" 
              src="img/icongoogle-1.gif" 
              alt="With Twitter"> Login with Facebook
          </a>
         
          <img  style="border: 0px" 
                src="img/login-with-facebook.png" width="154" height="22">
          </a>
        </li>
-->
        <li class="divider"></li>
        <li ng-show="user.user">
          <a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
        
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

</nav>
<!-- /.navbar-static-top -->
          <div class="navbar-default sidebar" role="navigation"  ng-controller="UserCtrl">
              <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i>Home</a>
                    </li>
                    <li>
                        <a href="#/project/list"><i class="fa fa-search fa-fw"></i>สืบค้นข้อมูล</a>
                    </li>
                    
                    <!--<li ng-show="user.user!=null&&user.user.role[0]=='admin'">
-->
                    <li >
                        <a href="#"><i class="fa fa-edit fa-fw"></i>จัดการข้อมูล<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                          <li>
                            <a href="#/project/finance/list">บรรจุโครงการ</a>
                          </li>
                          <li>
                            <a href="#projects/warning/2559">ติดตามความก้าวหน้า</a>
                          </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <!--<li ng-show="user.user!=null&&user.user.role[0]!=null">
-->
                    <li >
                        <a href="#"><i class="fa fa-pencil fa-fw"></i>บันทึกผลดำเนินการ<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                          <li>
                            <a href="#/task/create">บันทึกความก้าวหน้าฯ</a></li>
                          </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                   <!-- <li ng-controller="YearListController" ng-show="user.user&&user.user.role[0]=='admin'">
                   -->
                    <!--<li ng-show="user.user&&user.role[0].name=='admin'" ng-controller="YearListController">
-->
                    <li ng-controller="YearListController">
                        <a href="#"><i class="fa fa-files-o fa-fw"></i>การติดตามและประเมินผล<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                          <li ng-repeat="year in year_list">
                            <a href="" ng-click="filter(year)"><span ng-bind="year"></span>
                              <span class="fa arrow"></span>
                            </a>
                           <!-- /.nav-third-level -->
                          </li>
                       </ul>
                    </li>
                    <li  ng-controller="CalendarCtrl">
                       <a href=""><div id='jqxCalendar' class="text-center" ></div> 
 </a>
                    </li>

                    <li>
                        <a href="http://www.db.grad.nu.ac.th/apps/plan-storage/#/list" target="_blank"><i class="fa fa-search fa-fw"></i>ฐานข้อมูลเอกสารงานแผนฯ</a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
         {{{body}}}
        <div id="page-wrapper">
                 <div  ng-view></div>  
                    <!--<h1 class="page-header">Dashboard</h1>-->
                </div>
                <!-- /.col-lg-12 -->
            <!-- /.row -->
                
        </div>
        <!-- /#page-wrapper -->

    </div>

</body>
</html>
